html,
body {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'Helvetica Roman', sans-serif;
    max-width: 1200px;
    padding: 0 20px;
}

.title {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    font-size: 25px;
}

h1 {
    animation: rainbow-animation 3s ease-in-out infinite;
    transition: filter 0.3s linear;
}

@keyframes rainbow-animation {

    0%,
    100% {
        filter: drop-shadow(0 0 5px #FF5E5E);
    }

    14% {
        filter: drop-shadow(0 0 5px #FFA65E);
    }

    28% {
        filter: drop-shadow(0 0 5px #FFD65E);
    }

    42% {
        filter: drop-shadow(0 0 5px #5EFF5E);
    }

    57% {
        filter: drop-shadow(0 0 5px #5E5EFF);
    }

    71% {
        filter: drop-shadow(0 0 5px #5EA6FF);
    }

    85% {
        filter: drop-shadow(0 0 5px #B55EFF);
    }
}

.cards {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;

}

#computer-cards,
#player-cards {
    height: 240px;
}