html,
body {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'Helvetica Roman', sans-serif;
    max-width: 1200px;
    padding: 0 20px;
}

.title {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    font-size: 25px;
}

h1 {
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 3s ease-in-out infinite;
    text-shadow: 0 0 10px #000000;
}

@keyframes rainbow-animation {

    0%,
    100% {
        filter: drop-shadow(0 0 10px red);
    }

    14% {
        filter: drop-shadow(0 0 10px orange);
    }

    28% {
        filter: drop-shadow(0 0 10px yellow);
    }

    42% {
        filter: drop-shadow(0 0 10px green);
    }

    57% {
        filter: drop-shadow(0 0 10px blue);
    }

    71% {
        filter: drop-shadow(0 0 10px indigo);
    }

    85% {
        filter: drop-shadow(0 0 10px violet);
    }
}

.cards {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;

}

#computer-cards,
#player-cards {
    height: 240px;
}